{{ define "main" }}
<style>
.tax-container { max-width: 900px; margin: 0 auto; padding: 20px; }
</style>

<div class="tax-container">
{{- range .Pages }}
  <article class="post-entry">
    <header class="entry-header">
      <h2 class="entry-hint-parent">{{ .Title }}</h2>
    </header>
    {{- with .Description }}<div class="entry-content"><p>{{ . }}</p></div>{{- end }}
    <footer class="entry-footer">
      {{- partial "post_meta.html" . -}}
    </footer>
    <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
  </article>
  {{- end }}

  {{- template "_internal/pagination.html" . }}
</div>
{{ end }}
